.Logo {
    // background-color: red;
    text-align: center;
    height: 15vh;
    width: 100%;
    padding: 20px 0;
    
    h1 {
        margin: 0 auto;
        width: 20%;
        font-size: 4rem;
        position: relative;

        &::after {
            content: "by qikfox";
            position: absolute;
            bottom: 0;
            right: 3rem;
            font-size: 14px;
            color: white;
          }
    }
  }